@font-face {
    font-family: mark pro ;
    src: url(/asset/font/Mark-Pro.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    font-family: mark pro;
}

.i{
    font-style: italic;
}

.p-url{
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-size: 1rem;
}


/* navigation bar */
header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: black;
}

/* left navigation menu */

header .left-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header .logo svg{
    height: 32px;
    width: 95px;
    margin: 0 0 0 20px;
}

header .logo svg:hover{
    fill: red;
    cursor: pointer;
}

header .icon img{
    height: 45px;;
}

header nav{
    display: none;
}

/* right navigation menu */
header .right-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header .right-menu input{
    display: none;
}

header .lang-icon svg{
    fill: white;
}

header .right-menu .sign-in{
    display: none;
}

header .right-menu .hamburger-button{
    background-color: rgb(56, 56, 56);
    padding: 8px;
    border: none;
    border-radius: 12px;
    margin: 0 20px 0 0;
}

/* main section */
/* hero */

main .hero{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/ritodaze-6-3.jpg);
    background-size: cover;
    background-position: center;
    /* display */
    width: 100%;
    height: 916px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
}

main .hero h1{
    font-size: 32px;
    font-weight: bold;
}

main .hero p{
    padding: 2px 6px;
    font-size: 11px;
    letter-spacing: 1px;
    background-color: rgb(208, 48, 48);
    color: white;
}

/* about us */

main .about-us{
    background-color: rgb(223, 223, 223);
    display: block;
    gap: 20px;
}

main .about-us h2, p{
    color: black;
}

main .about-us h2{
    font-size: 30px;
    text-align: center;
    padding: 40px 20px;
}

main .about-us p{
    padding: 20px;
    font-size: 16px;
}

/* OUR VALUES UPPER-SECTION */
main .our-values .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .our-values h2{
    text-align: center;
    font-size: 40px;
    color: black;
}

.container{
    display: flex;
    align-items:last baseline;
    width: 100%;
    height: 108px;
    background-color: rgb(144, 165, 109);
}

main .our-values h3{
    font-size: 16px;
    text-align: left;
    padding: 0 0 30px 30px;
}

/* OUR VALUES - LOWER SECTION */

main .our-values2 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

main .our-values2 .content h2{
    width: 385px;
    color: black;
    font-size: 21px;
    font-weight: bold;
}

main .our-values2 .content p{
    width: 385px;
    color: black;
}

main .our-values2 .content img{
    width: 385px;
}


/* FOOTER */
footer .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 10px;
    gap: 10px;
    background-color: #252423;
}

footer .inner a, p, i {
    color: rgb(149, 149, 149);
    font-weight: bold;
    transition: 100ms text-decoration;
    transition: 250ms color;
}

footer .inner a:hover{
    text-decoration: underline;
    color: aliceblue;
}

footer .inner .social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

footer .inner .social i{
    font-size: 16px;
}

footer .inner .social i:hover{
    color:  rgb(208, 48, 48);
}

footer .inner hr{
    width: 80%;
    margin: 20px 0;
    border: solid 1px rgb(80, 80, 80);   
}
/* @media only screen and (max-width: 768px){

} */






@media only screen and (min-width: 1024px){

/* left menu navbar */
    header .left-menu nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    /* header .left-menu nav li{
        display: inline-block;
        cursor: pointer;
        padding: 10px 15px;
    }

    header .left-menu nav ul ul{
        position: absolute;
        top: 100%;
    
        /* display: none; */
    

    header .left-menu nav ul ul li{
        display: block;
    }

    header .left-menu nav li:hover ul{
        display: block;
    }
     
    header .left-menu nav p:hover{
        background-color: rgb(46, 46, 46);
        border: none;
        border-radius: 10px;
    }

    header .left-menu nav ul{
        background-color: black;
    }

    header .left-menu nav li{
        display: inline-block;
    }

    /* right menu navbar */
    header .right-menu input{
        display: block;
        padding: 5px 10px;
        margin: 0 10px;
        border: none;
        border-radius: 15px;
        background-color: rgb(45, 45, 45);
    }

    header .right-menu .sign-in{
        display: block;
        margin: 0 20px 0 0;
        padding: 5px 10px;
        color: black;
        background-color: rgb(168, 19, 19);
        border: none;
        border-radius: 15px;
    }

    header .right-menu .hamburger-button{
        display: none;
    }


    /* hero */
    main .hero{
        height: 700px;
    }


    /* about us */
    main .about-us{
        padding: 0 255.5px;
    }

    main .about-us h2{
        font-weight: bolder;
    }

    main .about-us p{
        font-size: 17px;
    }

}

@media only screen and (min-width: 1600px){
    main .hero{
        height: 600px;
    }
}