@font-face {
    font-family: mark pro ;
    src: url(/asset/font/Mark-Pro.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    font-family: mark pro;
}

html{
    scroll-behavior: smooth;    
}

.i{
    font-style: italic;
}

.p-url{
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-size: 1rem;
}

/* navigation bar */
header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: black;
    z-index: 1;
}

/* left navigation menu */

header .left-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header .logo svg{
    height: 32px;
    width: 95px;
    margin: 0 0 0 20px;
    fill: white;
}

header .logo svg:hover{
    fill: red;
    cursor: pointer;
}

header .icon img{
    height: 45px;;
}

header .left-menu nav{
    display: none;
}

header .left-menu nav .drop-button, nav a{
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
}

header .left-menu nav .drop-button:hover, nav a:hover{
    background-color: #323232;
    padding: 5px 15px;
    color: white;
}

header .left-menu nav .dropdown-content{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    background-color: #323232;
    border-top: solid 5px rgb(208, 48, 48);
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

header .left-menu nav .dropdown-content a {
    float: left;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
  }

/* right navigation menu */
header .right-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header .right-menu input{
    display: none;
}

header .lang-icon svg{
    fill: white;
}

header .right-menu .sign-in{
    display: none;
}

header .right-menu .hamburger-button{
    background-color: rgb(56, 56, 56);
    padding: 8px;
    border: none;
    border-radius: 12px;
    margin: 0 20px 0 0;
}


/* main section */
/* hero */

main .hero{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/ritodaze-6-3.jpg);
    background-size: cover;
    background-position: center;
    /* display */
    width: 100%;
    height: 916px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
}

main .hero h1{
    font-size: 32px;
    font-weight: bold;
}

main .hero p{
    padding: 2px 6px;
    font-size: 11px;
    letter-spacing: 1px;
    background-color: rgb(208, 48, 48);
    color: white;
}

/* about us */

main .about-us{
    background-color: rgb(223, 223, 223);
    display: block;
    gap: 20px;
}


main .about-us div{
    padding: 80px 20px;
}

main .about-us h2, p{
    color: black;
}

main .about-us h2{
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

main .about-us p{
    font-size: 16px;
    margin: 20px 0;
}

/* OUR VALUES UPPER-SECTION */
    main .our-values .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main .our-values h2{
        padding: 30px;
        text-align: center;
        font-size: 32px;
        color: black;
    }

    .container{
        display: flex;
        align-items:last baseline;
        width: 100%;
        height: 108px;
        cursor: pointer;
    }

    main .our-values h3{
        font-size: 16px;
        text-align: left;
        padding: 0 0 30px 30px;
    }

    main .our-values .one{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/49044809103-df554484e0-k.jpg);
        background-size: cover;
        background-position: center; 
    }

    main .our-values .two{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/riot-games-option-5-3.jpg);
        background-size: cover;
        background-position: center; 
    }

    main .our-values .three{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/yw-2500a.jpg);
        background-size: cover;
        background-position: center; 
    }

    main .our-values .four{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/1199524.jpeg);
        background-size: cover;
        background-position: center; 
    }

    main .our-values .five{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/scb-6256.jpg);
        background-size: cover;
        background-position: center; 
    }
/* OUR VALUES - LOWER SECTION */

main .our-values2 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
}

main .our-values2 .content h2{
    min-width: 385px;
    color: black;
    font-size: 21px;
    font-weight: bold;
}

main .our-values2 .content p{
    min-width: 385px;
    color: black;
}

main .our-values2 .content img{
    min-width: 385px;
}


/* WE ARE GLOBAL SECTION */

main .global {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: #2b2a29;
    padding: 50px;
}

main .global h2{
    font-size: 40px;
    min-width: 500px;
    text-align: center;
    padding: 40px 0;
}

main .global p{
    font-size: 20px;
    max-width: 900px;
    text-align: center;
    color: white;
    padding: 40px 0;
}

/* SLIDER */
.layer{
    background-color: linear-gradient(
        to bottom, 
    black 30%, 
    transparent 150%
    );
    width: 100%;
    height: 50px;
}

.slide-heading{
    font-size: 23px;
    padding: 10px;
}

.slider {
    display: none;
    margin-top: 100px;
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
  
.slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: black;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

/* FOOTER */
footer .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 10px;
    gap: 10px;
    background-color: #252423;
}

footer .icon img{
    height: 45px;;
}

footer .inner a, .inner p, .inner i, #topButton {
    color: rgb(149, 149, 149);
    font-weight: bold;
    transition: 100ms text-decoration;
    transition: 250ms color;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
}

footer .inner a:hover, .inner #topButton:hover{
    text-decoration: underline;
    color: aliceblue;
}

footer .inner .social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

footer .inner .social i{
    font-size: 16px;
    cursor: pointer;
}

footer .inner .social i:hover{
    color:  rgb(208, 48, 48);
}

footer .inner hr{
    width: 80%;
    margin: 20px 0;
    border: solid 1px rgb(80, 80, 80);   
}

footer .inner .links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

/* BUTTON */

.button{
    padding: 5px 25px;
    border: none;
    border-radius: 25px;
    background-color: red;
    transition: 400ms background-color;
}

.button:hover{
    background-color: black;
}



@media only screen and (min-width: 768px){

    /* header */


    /* main */
    main .slider{
        display: block;
    }


    /* footer */
    footer .inner .links{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: first baseline;
    }

    footer .inner .links a{
        font-size: 0.7rem;
    }

    footer .inner hr:nth-of-type(2){
        display: none;
    }
}






@media only screen and (min-width: 1024px){


/* left menu navbar */
    header .left-menu nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }


    /* right menu navbar */
    header .right-menu input{
        display: block;
        padding: 5px 10px;
        margin: 0 10px;
        border: none;
        border-radius: 15px;
        background-color: rgb(45, 45, 45);
    }

    header .right-menu .sign-in{
        display: block;
        margin: 0 20px 0 0;
        padding: 5px 10px;
        color: black;
        background-color: rgb(168, 19, 19);
        border: none;
        border-radius: 15px;
    }

    header .right-menu .hamburger-button{
        display: none;
    }



    /* MAIN SECTION */
    /* hero */
    main .hero{
        height: 700px;
    }


    /* about us */
    main .about-us{
        padding: 0 255.5px;
    }

    main .about-us h2{
        font-weight: bolder;
        max-width: 873px;
    }

    main .about-us p, .about-us a{
        font-size: 22px;
        max-width: 873px;
    }

    /* our values upper section */

    main .our-values .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        min-height: 800px;
    }
    
    main .our-values h2{
        padding: 30px 0;
        text-align: center;
        font-size: 32px;
    }
    
    .container{
        display: flex;
        align-items:center;
        justify-content: center;
        width: 100%;
        min-height: 800px;
        height: 108px;
        cursor: pointer;
    }
    
    main .our-values h3{
        font-size: 24px;
        text-align: center;
        padding: 0 20px;
    }
    
    main .our-values .one{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/1600/49044809103-df554484e0-k.jpg);
        background-size: cover;
        background-position: center; 
    }
    
    main .our-values .two{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/1600/riot-games-option-5-3.jpg);
        background-size: cover;
        background-position: center; 
    }
    
    main .our-values .three{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/1600/yw-2500a.jpg);
        background-size: cover;
        background-position: center; 
    }
    
    main .our-values .four{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/1600/1199524.jpeg);
        background-size: cover;
        background-position: center; 
    }
    
    main .our-values .five{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/1600/scb-6256.jpg);
        background-size: cover;
        background-position: center; 
    }

    /* .bg-desktop{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/content/1600/riot-lax-glhf.png);
    } */


    /* our values lower section */
   
    main .our-values2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 20px;
    }
    
    main .our-values2 .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 100px;
        max-width: 560px;
        min-width: 250px;
        padding: 40px;
    }

    main .our-values2 .content:nth-child(2){
        flex-direction: row-reverse;
    }

    main .our-values2 .content h2{
        max-width: 500px;
        color: black;
        font-size: 21px;
        font-weight: bold;
        margin: 20px 0;
    }
    
    main .our-values2 .content p{
        max-width: 500px;
        color: black;
        font-size: 16px;
        margin: 20px 0;
    }
    
    main .our-values2 .content img{
        max-width: 500px;
        margin: 20px 0;
    }
    
    .swap{
        flex-direction: row-reverse;
    }

    

}

@media only screen and (min-width: 1600px){
    main .hero{
        height: 600px;
    }
}